pip install Django~=3.2.10
pip install psycopg2-binary
pip install djangorestframework
pip install django-cors-headers
pip install django-phonenumber-field[phonenumbers]
pip install django-address
pip install djangorestframework-simplejwt
pip install Pillow

psql -U postgres -W -h localhost
CREATE USER dbuser WITH CREATEDB LOGIN PASSWORD 'password';
CREATE DATABASE dbuser;
GRANT ALL PRIVILEGES ON DATABASE dbuser TO dbuser;
\q
psql -U dbuser -W -h localhost
CREATE DATABASE db;
